.bg {
    background-color: white;
    flex: 1;
}


.clearButton {
    margin-left: 4rem;
    margin-right: 4rem;
    color: #ffffff;
    display: inline;
    flex-direction: row;
}

.buttonRow {
    color: #ffffff;
    background-color: #006885;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.btnDisabled {
    color: #ffffff;
}

.title {
    font-weight: bold;
    font-size: 26px;
}

.titleContainer {
    width : 480px;
    height : 55px;
    flex-direction: row;
    align-self : center;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 0.5px;
}

.clearText {
    color: #ffffff;
    display: inline;
    margin: 0 7px;
    font-size: 15px;
}

.exportText {
    font-weight: bold;
    font-size: 26px;
    flex-direction: row;
    padding-right: 5px;
    display: inline;
}

.exportButton {
    flex-direction: row;
}
.searches {
    margin: 0;
}

.historyFooter {
    
    display: inline;
    position: relative;
    bottom : 1;
    background-color : white;

}

