.text {
    
    font-size: 16;
    
}

#status
{
    display: inline-flex;
}
.wordListColumn {
    width: 100%;
}
.date {
    display: inline;
    font-size: 14;
    font-style: italic;
}
.searchcontainer {
}

.banner {
    border-top: 3px solid #000000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 7px;
    background-color: #E7FAFF;
}
.iconCorrect {
    display: inline;
    color: green;
}
.iconIncorrect {
    display: inline;
    color: red;

}
.bannerText {
    display: inline;
    font-size: 20;
    font-weight: bold;
    margin-right: 1rem;
}
.wordList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 0 8px 25px;
    background-color: #FBFEFF;
}
.iconAndResult {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: inline;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 1rem;
    background-color: red;
    margin-right: 5px;
}
.circleCorrect {
    background-color: green;
}
.circleIncorrect {
    background-color: red;
}
.LexiconAndDate {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.selected {
    background-color: #87CEFA;
}